body { background:black; padding: 30px; font-family: 'input_mono_regular'; font-size: 11px; line-height: 15px; -webkit-app-region: drag; transition: background-color 500ms; overflow: hidden; color:white;}

#terminal #sequencer { height: calc(100vh - 60px); position: absolute; left:30px; top:30px; }
#terminal #sequencer .channel { float:left; height: calc(100vh - 60px); margin-right:2px; }
#terminal #sequencer .channel .note { display: block }

#terminal #commander { height: calc(100vh - 60px); position: absolute; left:440px; top:30px; }
#terminal #commander .command {  }

