body      { background:#000; -webkit-user-select: none;-webkit-app-region: drag; }
yu        { display: block; font-family: 'input_mono_regular'; font-size:11px; line-height: 30px; vertical-align: top}
list      { display: block }
ln        { display: block;}
ln i      { color:#999; }
hl        { line-height: 29px; font-family: 'input_mono_medium'; display: block; border-bottom:1px solid black; }
t         { vertical-align: top; display: inline-block; }
svg       { display: inline-block; vertical-align: top }
textarea  { background:none; padding:px 0px; line-height: 15px; overflow: hidden}
b         { font-weight: normal; font-family: 'input_mono_medium'}

.di { display: inline-block; }
.db { display: block; }

.lh15 { line-height: 15px }
.lh30 { line-height: 30px }

.h1 { height:30px; }
.h2 { height:60px; }
.h4 { height:120px; }
.h6 { height:180px; }
.h7 { height:210px; }
.h18 { height:540px; }

.w01 { width:1px; }
.w1 { width:30px; }
.w2 { width:60px; }
.w4 { width:120px; }
.w6 { width:180px; }
.w7 { width:210px; }
.w18 { width:540px; }

.wf { width: 100% }
.wf_4 { width: calc(100% - 120px) }
.wf_6 { width: calc(100% - 180px) }
.wf_7 { width: calc(100% - 210px) }
.wf_8 { width: calc(100% - 240px) }
.wf_9 { width: calc(100% - 270px) }

.hf   { height:100%; }
.hf_1 { height: calc(100% - 30px) }
.hf_2 { height: calc(100% - 60px) }
.hf_3 { height: calc(100% - 90px) }
.hf_4 { height: calc(100% - 120px) }

/* Foreground */

.fu { text-decoration: underline; }
.f0 { color: #000; }
.f1 { color: #111; }
.f2 { color: #222; }
.f3 { color: #333; }
.f4 { color: #444; }
.f5 { color: #555; }
.f6 { color: #666; }
.f7 { color: #777; }
.f8 { color: #888; }
.f9 { color: #999; }
.ff { color:white; }
.fc { color:#ccc; }
.f_audio { color:#72dec2 !important; }
.f_visual { color:#999; }
.f_research { color:#333;  }
.f_misc { text-decoration: underline;  }
.f_red { color:#f00; }

.thin { font-family: "input_mono_thin" }
.bold { font-family: "input_mono_medium" }
.t45 { font-size:45px; }

/* Background */

.b_ { background: transparent; }
.b0 { background: #000 }
.bf { background: #fff }
.b9 { background: #999; }
.bc { background: #ccc; }
.b_audio { background:#72dec2; }
.b_visual { background:#000; }
.b_research { background:#999;  }
.b_misc { background:#f00;  }
.b_red { background:red; }

/* Strokes */

.sb { border-bottom: 1px solid black; }
.sr { border-bottom: 1px solid black; }

/* Margins */

.mb { margin-bottom:30px; }
.mb30 { margin-bottom:30px; }
.ml { margin-left:30px; }
.ml30 { margin-left:30px; }
.ml45 { margin-left:45px; }
.ml90 { margin-left:90px; }
.ml120 { margin-left:120px; }
.ml150 { margin-left:150px; }
.mr30 { margin-right: 30px }
.mt { margin-top: 30px }
.mb15 { margin-bottom:15px; }

/* Positioning */

.pa { position: absolute; }
.pb { bottom:0px; }
.pt { top:0px; }
.pl { left:0px; }
.pt30 { top:30px; }
.pl30 { top:30px; }
.pl5 { left:150px; }
.pl6 { left:180px; }

.rel { position: relative }

.at { position:absolute; top:0px; }
.al  { position:absolute; left:0px; }
.al1 { position:absolute; left:30px; }
.al2 { position:absolute; left:60px; }
.al3 { position:absolute; left:90px; }
.al4 { position:absolute; left:120px; }
.al5 { position:absolute; left:150px; }
.al6 { position:absolute; left:180px; }
.al7 { position:absolute; left:210px; }
.al8 { position:absolute; left:240px; }
.ab { position:absolute; bottom:0px; }
.ar { position:absolute; right:0px; }

.pdl { padding-left:30px; }
.pdl15 { padding-left:15px; }
.pdb15 { padding-bottom: 15px }

.oh { overflow: hidden }

.right { float:right; }
.left { float:left; }
.hide { display: none }
.pointer { cursor:pointer; }

.slider { cursor: pointer; padding:0px 2.5px;width:120px;display: block }
.slider .name { color:#999; width:30px; display: inline-block; }
.slider:hover .name { color:#fff; }
.slider.selected .name { color:#fff; }
.slider.selected { position: relative; }
.slider.selected:before { content: ">"; position: absolute;left:-15px; }

/* HIGHLIGHTS/LOWLIGHTS */

app { display: block; width:30px; height:30px; background:RGBA(0,0,0,1); padding:30px; color:black; overflow: hidden; z-index:20;}
app { transition: background-color 150ms;}
app .wrapper { overflow: hidden; height:100%; overflow: hidden;height: 100%}
app.selected { z-index:8001; }
app.dragged { background-color:RGBA(255,255,255,0.3) !important; z-index:8002;}

app.blanc ::selection       { background: #eee; opacity:1.0; color:#000; }
app.blanc     { background:white; color:black;  }
app.blanc .fh { color:black; stroke:black; }
app.blanc .fm { color:#999; stroke:#999; }
app.blanc .bh { background:white;}
app.blanc .fl { color:#ccc; stroke:#ccc; }
app.blanc .bl { background:#eee;}
app.blanc .cu:hover { background:#000; color:#fff; cursor:pointer;}

app.noir ::selection       { background: #888; opacity:1.0; color:#999; }
app.noir     { background: black; color:white; }
app.noir .fh { color:white; stroke:white; }
app.noir .fm { color:#999; stroke:#999; }
app.noir .fl { color:#555; stroke:#555; }
app.noir .fi { color:black; stroke:black; }
app.noir .bh { background:black;}
app.noir .bl { background:#222;}
app.noir .bi { background:#fff;}
app.noir .cu:hover { background:#fff; color:#000; cursor:pointer;}

app.ghost ::selection       { background: #888; opacity:1.0; color:#999; }
app.ghost     { background:none; color:white; z-index:10; }
app.ghost .fh { color:white; stroke:white; }
app.ghost .bh { background:black;}
app.ghost .fl { color:#ccc; stroke:#ccc; }
app.ghost .bl { background:#A1A1A1;}
app.ghost .cu:hover { background:#fff; color:#000; cursor:pointer;}

app.hidden { display: none }

app .color { color:red !important; }